.container{
    background-color: var(--Preto);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.titulo{
    font-size: 2.5rem;
    color: var(--Branco);
    font-family: sans-serif;
}
