<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>

    <header>
        <div id="Catalogtitle">
            <h1>Catalog</h1>
        </div>
    </header>

    <main>
        <div id="Books">
            <div id="BookI">
                <img src="" alt="1984, George Orwell">
                <h4>1984, George Orwell</h4>
            </div>

            <div id="BookII">
                <img src="" alt="Crime and Punishment, Fyodor Dostoevsky">
                <h4>Crime and Punishment, Fyodor Dostoevsky</h4>
            </div>

            <div id="BookIII">
                <img src="" alt="Trono de Vidro - Celaena Sardothien">
                <h4>Trono de Vidro - Celaena Sardothien</h4>
            </div>
        </div>
    </main>


    <footer>
        <h3>© Direitos reservados - AlumniSans ©</h3>
    </footer>
    <style>
    /* CSS GLOBAL  */
    body{
        width: 100%;
        height: 100vh;
    }

    /* Título do Catálogo  */
    #Catalogtitle{
        background-color: rgb(255, 219, 16);
        text-align: center;
    } 
     
    /* Livros */
    #Books{
        display: flex;
        flex-direction: column;
        gap: 35vh;
    }
    
    #BookI{
        display: flex;
        
    }
    </style>
</body>
</html>