@use './variables' as *;

.bar {
    background-color: $primary;
    color: $text-light;
    font-size: 18px;
    height: 30px;
    margin: 0;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        max-width: 100vw;
        padding: 6rem;
        gap: 30px;
    }
    li{
        text-decoration: none;
        list-style: none;
        font-family: $main-font;
    }
}