@use './variables' as *;

$background: #FFFF;
$primary: #1a2b4c;
$secondary: #7c8c9a;
$accent: #006A7a;
$text-dark: $primary;
$text-light: #dbdada;
$button: orange;
$border-radius: 6px;
$font-header: 20px;
$main-font: 'Verdana';

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-attachment: $background;
}
